#Projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  :hover {
    background-color: rgb(141, 138, 138);
  }
}

.Project {
  background-color: rgb(107 105 105);
  border-radius: 2%;
  padding: 15px;
  cursor: pointer;
  width: 35%;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  img {
    width: -webkit-fill-available;
  }
  .data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}

/*Animation*/
@keyframes expand {
  0% {
    right: 0;
    transform: scale(0.5, 1);
    opacity: 0%;
  }
  100% {
    right: 4%;
    transform: scale(1);
    opacity: 100%;
  }
}

#ProjectDetails {
  background-color: rgb(141, 138, 138);
  position: fixed;
  right: 4%;
  top: 10%;
  transform: scale(1);
  border-radius: 2%;
  animation-name: expand;
  animation-duration: 1s;
  height: 80%;
  width: 29%;
  animation-fill-mode: backwards;
  img {
    width: -webkit-fill-available;
    padding: 10%;
  }
  button {
    float: right;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(107 105 105);
    margin: 1%;
    font-weight: bold;
  }
  button:hover{
    background-color: rgb(131, 129, 129);
  }
}
